---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div
    class:list={[
        "rounded-xl border border-border bg-surface text-text shadow-sm transition-all hover:shadow-md",
        className,
    ]}
>
    <slot />
</div>
